.el-tabs>.el-tabs__header .el-tabs__item.is-active{
  background:#5d2385;
  color: #ffffff;
}
.el-tabs>.el-tabs__header .el-tabs__item:hover{
  background:#5d2385;
  color: #ffffff;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border: none;
}
.el-tabs--card>.el-tabs__header{
  border: none;
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
  border: none;
}
