body{
  margin: 0px;
  width: 100%;
  height: 100%;
  min-width: 1200px;
}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
  border-bottom: none !important;
}

.el-menu--horizontal>.el-menu-item.is-active{
  border-bottom: none;
}
ul,li{
  list-style: none;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {

  border-radius: 10px;
  /*background-color: rgba(0, 0, 0, 0);*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*background-color: rgba(238, 238, 238, 0.8);*/
  /*background-color: #46b8da;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.1);

}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.1);
}

/*scrollbar {*/
/*width: 12px;*/
/*background-color: rgba(0, 0, 0, 0.1);*/
/*}*/

